.tmp
.temp
.DS_Store

/.env
/.idea
/.vscode
/theme.json
vendor
node_modules

config/license.key
.eslintrc.json
web/uploads/people/photos/default-avatar.svg
src/js/pages/places/Temp.html
src/js/pages/places/Temp.vue
