<?xml version="1.0" encoding="UTF-8"?>
<svg
    version="1.1"
    width="{{ object.width ?? 400 }}"
    height="{{ object.height ?? 300 }}"
    viewBox="0 0 {{ object.width ?? 400 }} {{ object.height ?? 300 }}"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="http://www.w3.org/2000/svg"
>
    <g
        id="{{ id ?? 'map' }}"
        fill-rule="evenodd"
        fill="none"
        stroke-width="1"
        stroke="none"
    >
        <image
            id="image"
            x="{{ object.x ?? 0 }}"
            y="{{ object.y ?? 0 }}"
            width="{{ object.width ?? 400}}"
            height="{{ object.height ?? 300 }}"
            xlink:href="data:image/png;base64, {{ object.image ?? '' }}"
        ></image>

        {{ object.content ?? null }}
    </g>
</svg>
