.imageContainer {
    outline: 1px red solid;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 50vh;
}
.imageContainer .image {
    outline: 1px red solid;
    position: relative;
    width: 100%;
}

.altImage {
    outline: 1px red solid;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
}