.imageContainer {
    outline: 1px gray solid;
    position: relative; /*For testing*/
    //display: flex;
    //align-items: center;
    overflow: hidden;
    height: 50vh;
    max-height: 50vh;
}
.imageContainer .image {
    outline: 1px gray solid;
    position: relative;
    width: 100%;
}

.altImage {
    outline: 1px gray solid;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
}

.test {
    position: absolute;
    outline: 1px blue solid;
    width: 10px;
    height: 10px;
    
    z-index: 10;
}