<?xml version="1.0" encoding="UTF-8"?>
<svg
    version="1.1"
    width="{{ width ?? 400 }}"
    height="{{ height ?? 300 }}"
    viewBox="0 0 {{ width ?? 400 }} {{ height ?? 300 }}"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="http://www.w3.org/2000/svg"
>
    <g
        id="{{ id ?? 'map' }}"
        fill-rule="evenodd"
        fill="none"
        stroke-width="1"
        stroke="none"
    >
        <image
            id="image"
            x="{{ x ?? 0 }}"
            y="{{ x ?? 0 }}"
            width="{{ width ?? 400}}"
            height="{{ height ?? 300 }}"
            xlink:href="data:image/png;base64, {{ base64EncodedImage ?? '' }}"
        ></image>

        {{ content ?? null }}
    </g>
</svg>
