$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1900px;

header {
  height: 10vh;
  overflow: hidden;
}

main {
  height: 75vh;
  overflow: auto;
}

nav .icon {
  max-height: 24px;
  margin-right: 6px;
}

footer {
  height: 15vh;
  overflow: hidden;

  .\@end {
    display: none;
  }
}

.\@page {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto 1fr;
}

a {
  cursor: pointer;
}

// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
